*
{
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body
{
	--sizes-header-height: 64px;
	--sizes-left-panel-width: 255px;
	--theme-green: #005039;
	--theme-green-light: #06ad7d;
	--theme-dark: #282828;
	--theme-front-light: #bdbdbd;
	--theme-front-dark: #5e5d5d;
	--theme-front-dark-lighter: #7b7b7b;
	--theme-back-light-contrast: #f3f3f3;
	--theme-back-light-border: #cecece;
	--theme-front-sep: #666666;
	--theme-blue: #315384;
	--theme-light-blue: #bdcee6;
	/* --theme-blue: #4d72a9; */	
	margin: 0px;
	/* background-color: #ebeadf; */
	background-color: #eaeaea;
	font-family: Raleway;
	/* font-family: 'Roboto', sans-serif; */
}

html body.no-animations header
{
	transform: translateY(0px);
	transition-property: none;
}


header
{
	transform: translateY(-100%);
	transition: transform 0.3s;
	position: relative;
	height: var(--sizes-header-height);
	background-color: var(--theme-blue);
	box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);	
	z-index: 1;
}

header.show
{
	transform: translateY(0px);
}

#logo
{
	position: absolute;
	height: calc(100% - 24px);
	left: 13px;
	top:  12px;
}

#avatar
{
	opacity: 1;
	transition: opacity 0.6s;
	position: absolute;
	height: calc(100% - 30px);
	right: 15px;
	top:  15px;	
	border-radius: 100px;
	cursor: pointer;
}

@media (hover: hover) 
{
	#avatar:hover
	{
		opacity: 0.8;	
	}	
}

main
{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	/*
	width: 100%;
	height: calc(100% - 64px);
	*/
}

html body.no-animations #left-menu
{
	transform: translateX(0px);	
	opacity: 1;
	transition-property: none;
}

#left-menu
{
	transform: translateX(-30%);
	/* 
	transform: translateX(-100%);
	transition: transform 0.4s;
	*/
	opacity: 0;
	transition: opacity 0.4s,transform 0.4s;
	height:  100%;
	width: var(--sizes-left-panel-width);
	background-color: var(--theme-dark);
	border-right: 1px solid rgba(255, 255, 255, 0.1);		
}

#left-menu.show
{
	transform: translateX(0px);
	/* 
	transform: translateX(0px);
	*/
	opacity: 1;
}

#main-panel
{	
	--column-spacing: 28px;
	position: absolute;
	left: var(--sizes-left-panel-width);
	right: 0px;
	top: var(--sizes-header-height);
	bottom: 0px;
	padding: var(--column-spacing);
	overflow-y: hidden;	
}

#main-panel.animation-started
{
	overflow-y: auto;	
}

html body.no-animations #main-panel
{
	overflow-y: auto;		
}

html body.no-animations #main-panel .title
{
	opacity: 1;
	transition-property: none;	
}

#main-panel .title
{
	opacity: 0;
	transition: opacity 0.5s;
	font-size: 20px;
	font-weight: bold;
	color: var(--theme-front-dark);
	padding-bottom: calc( var(--column-spacing) * 0.75 );
}

#main-panel .title.show
{
	opacity: 1;
}

#left-menu-items
{
	padding-top: calc(var(--sizes-header-height) + 20px);
}

html body.no-animations #left-menu-items .holder
{
	opacity: 1;
	transition-property: none;	
}

#left-menu-items .holder
{
	opacity: 0;
	transition: opacity 0.8s;
}

#left-menu-items .holder.show
{
	opacity: 1;
}

#left-menu-items .item
{	
	transition: background-color 0.3s;
	--border-left-size: 4px;
	border-left: var(--border-left-size) solid var(--theme-dark);
	position: relative;	
	font-weight: bold;
	color: var(--theme-front-light);
	width:  100%;
	font-size: 15px;
	text-align: left;
	padding: 15px 0px;
	padding-left: 48px;	
}

#left-menu-items .hot
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 1;
	cursor: pointer;
}

#left-menu-items .sep
{
	width: 100%;
	height: 1px;
	background-color: var(--theme-front-sep);
}

#left-menu-items .icon
{	
	--height:  22px;
	position: absolute;
	left: 15px;
	font-size: var(--height);
	top: calc( (100% - var(--height)) / 2 );
}

#left-menu-items .item.selected
{
	border-left: var(--border-left-size) solid var(--theme-green-light);
	background-color: #1f1f1f;
	color: var(--theme-green-light);
}

#header-name
{
	font-family: Raleway;
	color: #FFF;
	position: absolute;
	right: 68px;
	font-size: 15px;
	top: calc(((100% - 15px) / 2) - 2px);
}

#main-panel .dashboard-container
{	
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#main-panel .dashboard-column
{
	width: calc((100% - (var(--column-spacing) * 2)) / 3);
}

html body.no-animations #main-panel .dashboard-panel,html body.no-animations #main-panel .under-construction-panel
{
	opacity: 1;
	transform: scale(1);
	transition-property: none;	
}

#main-panel .dashboard-panel,#main-panel .under-construction-panel
{
	opacity: 0;
	transform: scale(0.97);
	transition: opacity 0.5s,transform 0.5s;	
}

body #main-panel .under-construction-panel
{
	transform: scale(0.99);
}

#main-panel .dashboard-panel
{
	background-color: var(--theme-back-light-contrast);
	border: 1px solid var(--theme-back-light-border);	
	border-radius: 6px;
	padding: 20px;
	margin-bottom: calc(var(--column-spacing) * 0.8);
}

#main-panel .under-construction-panel
{
	background-color: var(--theme-back-light-contrast);
	border: 1px solid var(--theme-back-light-border);	
	border-radius: 6px;
	padding: 20px;	
	text-align: center;
}

#main-panel .under-construction-panel .dotted-border
{
	margin: -7px;
	border: 1px dashed var(--theme-back-light-border);
	padding: 40px 0px;
}

#main-panel .under-construction-panel img
{
	height: 100px;
	margin-bottom: 10px;
}

#main-panel .under-construction-panel .text
{
	color: var(--theme-front-dark-lighter);	
	font-size: 18px;
}

#main-panel .dashboard-panel.show,#main-panel .under-construction-panel.show
{
	opacity: 1;
	transform: scale(1);
}

#main-panel .dashboard-panel .dotted-border
{
	margin: -7px;
	border: 1px dashed var(--theme-back-light-border);
}

#main-panel .dashboard-panel .balance
{
	padding-bottom: 10px;
}

#main-panel .dashboard-panel .balance-value
{
	color: var(--theme-front-dark);
	text-align: center;
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	/* font-weight: bold; */
}

#main-panel .dashboard-panel .panel-title
{
	text-align: center;
	padding: 10px 0px;
	color: var(--theme-front-dark-lighter);
	font-size:  15px;
}

#main-panel .dashboard-panel .note
{
	text-align: center;
}

#main-panel .dashboard-panel .note img
{
	height:  100px;
}

div.centered
{
	text-align: center;
}

a.btn
{
	opacity: 1;
	transition: opacity 0.6s;
	text-decoration: none;
	background-color: var(--theme-blue);
	color: #FFF;
	padding: 15px 22px;
	font-size: 15px;
}

@media (hover: hover) 
{
	a.btn:hover
	{
		opacity: 0.8;
	}
}

a.btn-link
{
	opacity: 1;
	transition: opacity 0.6s;
	text-decoration: none;
	color: var(--theme-blue);
	font-size: 14px;
	font-weight: bold;
}

@media (hover: hover) 
{
	a.btn-link:hover
	{
		opacity: 0.8;
	}	
}

#main-panel .dashboard-panel .dotted-border.manage-deposits
{
	padding: 100px 0px;	
}

#main-panel .dashboard-panel .dotted-border.manage-deposits .text
{
	padding: 10px 20px;
	padding-bottom: 35px;
	text-align: center;
	font-size: 14px;
	color: var(--theme-front-dark-lighter);
}

#main-panel .dashboard-panel .info-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 14px;
	padding-bottom: 10px;
	font-family: 'Roboto', sans-serif;!important;	
}

#main-panel .dashboard-panel .panel-spacer
{
	height: 15px;
}

#main-panel .dashboard-panel .info-title
{
	color: var(--theme-front-dark-lighter);
}

#main-panel .dashboard-panel .info-value
{
	color: var(--theme-front-dark);
	font-weight: bold;
}

#main-panel .dashboard-panel .btn-link-container
{
	padding-top: 10px;
	text-align: center;
}

#main-panel .dashboard-panel .panel-announcement-box
{
	background-color: #FFF;
	border: 1px solid var(--theme-back-light-border);
	text-align: center;
	padding: 20px 0px;
}

#main-panel .dashboard-panel .panel-announcement-box img
{
	width: calc(100% - 46px);
}

.force-roboto
{
	font-family: 'Roboto', sans-serif;!important;	
}

.fake-link
{
	cursor: pointer;
}

@media (hover: hover) 
{
  	#left-menu-items .item:not(.selected):hover 
  	{
    	background-color: #333333;
    	border-color: #333333;
  	}
  	#left-menu-items .item.selected:hover 
  	{
    	background-color: #191818;
  	}
}

html body.no-animations #loader
{
	display: none;
}

#loader
{
	opacity: 1;
	transform: scale(1.0);
	transition: opacity 0.3s,transform 0.3s;
	position: fixed;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#loader.hide
{
	opacity: 0;
	transform: scale(0.75);
}

#loader .container
{
	position: relative;
	--size: 300px;
	width: var(--size);
	height: var(--size);
}

#loader .container .progress
{
	width: 100%;
	height: 100%;
}

#loader .percentage
{
	--height: 50px;
	font-size: var(--height);
	line-height: var(--height);
	position: absolute;
	top: calc(50% - (var(--height) / 2));
	left: 0px;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #aaaaaa;
}

header .account-menu
{
	box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s,opacity 0.2s;
	position: fixed;
	top:  calc(100% - 12px);
	right:  18px;
	background-color: var(--theme-back-light-contrast);
	border: 1px solid var(--theme-back-light-border);
}

header .account-menu.show
{
	visibility: visible;
	opacity: 1;	
}

header .account-menu .item
{
	transition: background-color 0.3s;
	padding: 10px 75px;
	cursor: pointer;
	color: var(--theme-front-dark-lighter);
	background-color: var(--theme-back-light-contrast);
}

@media (hover: hover) 
{
	header .account-menu .item:hover
	{
		background-color: #bfbfbf;
		color: #FFFFFF;
	}
}

header .account-menu .item:not(.last)
{
	border-bottom: 1px solid var(--theme-back-light-border);
}

#main-panel .page-panel
{
	display: none;
}

#main-panel .page-panel.show
{
	display: block;	
}